<%= filepicker_js_include_tag %>
<h1 id="user-heading">Edit Post</h1>
<div class="form-group" style="padding:5px 20px">
  <%= form_for(@post) do |f| %>
    <div class="field">
      <span>Title:</span>
      <%= f.text_field :title %>
      <div class="error-message">
        <% if @post.errors[:title].any? %>
          <%= @post.errors[:title].join(", ") %>
        <% end %> 
      </div>
    </div>
    <br>
     <div class="field">
      <%= f.hidden_field :user_id, :value =>current_user.id%>
    </div>
    <br>
    <div class="dropdown">
      <span style="padding-right: 5px">Date:</span>
      <%= f.date_select :date %>
    </div>
    <br>
    <div class="field">
      <span>Body Text</span><br>
      <%= f.text_area(:body, :size => "120x20")%>
      <div class="error-message">
        <% if @post.errors[:body].any? %>
          <%= @post.errors[:body].join(", ") %>
        <% end %> 
      </div>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
