<h1 id="user-heading">Posts Database</h1>
<table id="user-table">
 	<thead>
	 	<tr>
	 		<th>Title</th> 
			<th>User</th>
			<th>Date</th>
			<th>Body</th>
			<th>Show Post</th>
	 		<th>Edit Post</th>
	 		<th>Destroy Post</th>
		</tr>
	</thead>
	<tbody>
	<% @posts.each do |post| %>
	<tr>
		<td><%= post.title %></td>
		<td><%= post.user.name %></td>
		<td><%= post.date %></td>
		<td width="400"><%= post.body %></td>
 		<td><%= link_to "show post", post_path(post.id) %></td>
 		<td><%= link_to "edit post", edit_post_path(post.id) %></td>
 		<td><%= button_to "destroy post", post_path(post), confirmation: "you sure?", method: :delete %> </td>
	</tr>
	<% end %>
	</tbody>
</table>