<h1>New Post</h1>
<%= form_for(@post) do |f| %>
  <div class="field">
    <p>Title:</p>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <p>User:</p>
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>

  <div class="dropdown">
    <p>Date:</p>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <p>Body Text:</p>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>