<br>
<h1 id="user-heading">Welcome to Blog!</h1>
<br><br>

<% @posts.each do |post| %>	
	<div class="post-style">
	  <h1 id="post-header"><%= link_to post.title, post_path(post.id) %></h1>
	  <h3 id="post-date">By: <%= post.user.name %></h3>
	  <p id="post-date">Posted on: <%= post.date %></p>
	  <% if !post.filepicker_url.nil? %>
	  	<%= filepicker_image_tag post.filepicker_url, h: 300, fit: 'clip' %>
	  <% end %>
	  <p id="post-body"><%= post.body %></p>
	  <span><%= tag('fb:comments-count', href: "http://tara-siegel-blog.herokuapp.com/posts/"+ post.id.to_s)%> </span>
	  <%= link_to 'comments', post_path(post.id) %>
	 
	</div>
<% end %>