<br>
<h2 id="blog-heading">I am Tara Siegel. This is my blog.</h1>
<br><br>

<% @posts.each do |post| %>	
	<div class="post-style">
	  <h1 class="post-header"><%= link_to post.title, post_path(post.id) %></h1>
	  <div class="post-date">
  		<span class="success radius label"><%= post.user.name %></span>
  	    <span class="secondary radius label"><%= post.date %></span>
  	  </div>
	  <div>
		  <% if !post.filepicker_url.nil? %>
		  	<%= filepicker_image_tag post.filepicker_url, h: 300, fit: 'clip' %>
		  <% end %>
	  </div>
	  <p class="post-body"><%= post.body %></p>
	  <span><%= tag('fb:comments-count', href: "http://tara-siegel-blog.herokuapp.com/posts/"+ post.id.to_s)%> </span>
	  <%= link_to 'comments', post_path(post.id) %>
	 
	</div>
<% end %>