<div class="post-style">
  <h1 id="post-header"><%= @post.title %></h1>
  <h3 id="post-date">By: <%= @post.user_id %></h3>
  <p id="post-date">Posted on: <%= @post.date %></p>
  <%= filepicker_image_tag @post.filepicker_url, h: 300, fit: 'clip' %>

  <p id="post-body"><%= @post.body %></p>
</div>
