<!DOCTYPE html>
<html>
<head>
  <title>Tara Siegel CIS196</title>
  <meta name="author" content="Tara Siegel">
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-theme" %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=557862167615399";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="../">TaraSiegel.com Blog</a>
	</div>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'User Database', users_path %></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'New Post', new_post_path %></li>
				<li><%= link_to 'Manage Posts', posts_path %></li>
			</ul>
		</li>
	</ul>	
<% if current_user %>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#">Signed in as <strong><%= current_user.name %></strong></a></li>
		<li><%= link_to 'Logout', signout_path, id: "sign_out" %></li>
	</ul>
<% else %>
	<ul class="nav navbar-nav navbar-right">
		<li>
			<%= link_to 'Login with Facebook', "/auth/facebook", id: "sign_in" %>
		</li>
	</ul>
<% end %>
</nav>

<%= yield %>

</body>
</html>
