<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tara Siegel CIS196</title>
    <meta name="author" content="Tara Siegel">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <!-- <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>-->
    <%= javascript_include_tag "jquery" %>
    <%= stylesheet_link_tag "foundation.min" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= filepicker_js_include_tag %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=557862167615399";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="../">Tara's Blog</a><h1>
        </li>
      </ui>
      <section class="top-bar-section">
        <ul class="left">
          <li><%= link_to 'User Database', users_path %></li>
          <li class="has-dropdown">
            <a href="#">Posts</a>
            <ul class="dropdown">
              <li><%= link_to 'New Post', new_post_path %></li>
              <li><%= link_to 'Manage Posts', posts_path %></li>
            </ul>
          </li>
        </ul>
        <ul class="right">
          <% if current_user %>
            <li><a href="#">Signed in as <strong><%= current_user.name %></strong></a></li>
            <li><%= link_to 'Logout', signout_path, id: "sign_out" %></li>
          <% else %>
            <li><%= link_to 'Login with Facebook', "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <%= yield %>
    <%= javascript_include_tag "foundation.min" %>
    <%= javascript_include_tag "modernizr"%>
    <%= javascript_include_tag "application" %>

  </body>
</html> 